@font-face {
  font-family: 'Port Lligat Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Port Lligat Sans'), local('PortLligatSans-Regular'), url('/font/PortLligatSans-Regular.ttf') format('woff');
}

.sliderWrapper {
	width: 71.8%;
	float: left;
	position: relative;
	z-index: 200;
	
	-moz-box-shadow: 0px 0px 10px #454545;
	-webkit-box-shadow: 0px 0px 10px #454545;
	box-shadow: 0px 0px 10px #454545;
}

#slider-list>li {
	position: relative;
}

a, span {
		/* Firefox */
	-moz-transition: all 0.5s ease;
	/* WebKit */
	-webkit-transition: all 0.5s ease;
	/* Opera */
	-o-transition: all 0.5s ease;
	/* Standard */
	transition: all 0.5s ease;
}

/*
 * Save & Config buttons
 */

#configs {
	width: 30px;
	height: 20px;
	
	box-shadow: 2px 3px 7px black;
	border-radius: 12px;
	padding: 10px 8px;
	font-size: 40px;
	line-height: 0.5;
	
	position: absolute;
	text-decoration: none;
	top: 20px;
}

#configs { 
	background-color: #DA8E1D;
	border: 5px solid white;
	color: white;
	right: 0;
	border-radius: 0 0 0 10px;
	top: 0;
}

#configs:hover {
	border: 5px solid #DA8E1D;
	color: #DA8E1D;
	background-color: #FFF;
} 

/*
 * Directional buttons
 */

#nextSlide, 
#prevSlide,
#nextSlide:visited,
#prevSlide:visited {
	border: 5px solid #FFF;
	background-color: #0B93D5;
	color: #FFF;

	box-shadow: 2px 3px 7px #000;
	border-radius: 30px;
	padding: 10px 12px;
	
	font-size: 30px;
	font-weight: bold;
	font-family: Arial;
	line-height: 1.6;
	
	position: absolute;
	top: 40%;
	text-decoration: none;
}

#prevSlide {
	left: 0;
	border-radius: 0 10px 10px 0;
}

#nextSlide {
	right: 0;
	border-radius: 10px 0 0 10px;
}

#nextSlide:hover,
#prevSlide:hover {
	border: 5px solid #0B93D5;
	background-color: #FFF;
	color: #0B93D5;
}

#prevSlide.addSlide, 
#nextSlide.addSlide {
	border: solid 5px #FFF;
	background-color: #7CB467;
	color: #FFF;
	padding: 10px 9px;
}

#prevSlide.addSlide:hover,
#nextSlide.addSlide:hover {
	border: solid 5px #7CB467;
	background-color: #FFF;
	color: #7CB467;
	padding: 10px 9px;
}


/*
 * Action Slides: Insert & Remove Slides
 */

.actionSlide,
.actionSlide:visited {
	
	width: 65px;
	height: 30px;
	padding: 5px;
	box-shadow: 2px 3px 7px #000;
	border-radius: 10px 10px 0 0;
	
	position: absolute;
	text-decoration: none;
	bottom: 0;
}

.actionSlide div,
.actionSlide:visited div {
	margin: 5px 0;
	line-height: 0.5;
	font-size: 25px;
	padding: 6px;
	float: left;
}

#deleteCurrent { 
	background-color: #E03939;
	border: 5px solid #FFF;
	color: #FFF;
	border-radius: 10px 10px 0 0;
	
	left: 47%;
}

#deleteCurrent:hover {
	border: 5px solid #E03939;
	color: #E03939;
	background-color: #FFF;
} 

#insertLeft,
#insertRight {
	border: solid 5px #FFF;
	background-color: #7CB467;
	color: #FFF;
}

#insertLeft:hover,
#insertRight:hover {
	border: solid 5px #7CB467;
	background-color: #FFF;
	color: #7CB467;
}

#insertLeft {
	left: 0;
}

#insertRight {
	right: 0;
}

/*
 * View Mode Buttons
 */

#screen-mode {
	position: absolute;
	top: 0px;
	left: 45%;
	
	width: 120px;
	height: 20px;
}

#screen-mode a {
	padding: 12px 10px 8px 10px;
	width: 30px;
	box-shadow: 2px 3px 7px #000;
	display: inline-block;
	text-decoration: none;
	text-indent: -1px;
	font-size: 40px;
	line-height: 0.5;
	background-color: #AC00A5;
	border: 5px solid #FFF;
	color: #FFF;
}

#screen-mode a.selected {
	box-shadow: none;
	box-shadow:inset 2px 3px 7px #000;
} 

#screen-mode a:hover {
	background-color: #FFF;
	border: 5px solid #AC00A5;
	color: #AC00A5;
}

#screen-mode a.selected:hover {
	background-color: #AC00A5;
	border: 5px solid #FFF;
	color: #FFF;
}

#view-edit {
	border-radius: 12px 0px 0px 12px;
	float: left;
}

#view-free {
	border-radius: 0px 12px 12px 0px;
	float: right;
}

/*
 * Toolbox
 */

#toolbox {
	position:absolute;
	top: 0;
	left: 38%;
	background-color: #FFF;	
	box-shadow: 2px 3px 7px gray;
	list-style: none;
	margin: 0;
	padding: 0;
	border: solid 1px silver;
	border-width: 1px 1px 0 1px;
	z-index: 1000;
	opacity: 0.1;
}

#toolbox:hover {
	opacity: 1;
}

#toolbox li {
	width: 60px;
	height: 60px;
	float: left;
}

#toolbox li a {
	text-decoration: none;
	line-height: 1;
	padding: 7px 5px;
	color: black;
	margin: 10px;
	font-size: 30px;
}

#toolbox li a:hover {
	color: green;
}

#toolbox li a.h1 {
	font-size: 30px;
	padding: 5px 5px 0px 5px;
	border-radius: 5px;
}

#toolbox li a.h2 {
	font-size: 25px;
	padding: 10px 5px 0px 5px;
	border-radius: 5px;
}

.closePopup, .closePopup:visited {
	border-radius: 20px;
	border: solid 2px #FD3535;
	background-color: white;
}


/*
 * Main Configurations
 */

#mainConfigs {
	display:none;
	font-family: 'Port Lligat Sans', 'sans';
	width: 28%;
	height: 394px;
	overflow-x: scroll;
	overflow-y: auto;
	float: right;
	
	background-image: url('/img/escheresque.png');
	border: 1px solid silver;
	position:relative;
}

#mainConfigs .content {
	margin: 60px 0;
}

#mainConfigs input {
	font-family: 'Port Lligat Sans', 'sans';
	padding: 2px;
}

.style-container {
	width: 80%;
	margin: 0 auto;
}

.style-container h2 {
	padding: 20px 0 0 0;
	margin: 10px 0;
	border-top: 3px solid #8F8F8F;
}

.style-container h3 {
	border-top: 1px solid silver;
	padding: 10px 0;
}

.cfg-buttons,
.cfg-header {
	height: 50px;
	width: 28%;
	display: inline-block;
	padding-left: 1%;
	position: fixed;
	right: 16px;
	z-index: 100;
	background: url('/img/dark_matter.png');	
} 

.cfg-header {
	top: 0;
	
	-moz-box-shadow: 0px 0px 5px #454545;
	-webkit-box-shadow: 0px 0px 5px #454545;
	box-shadow: 0px 0px 5px #454545;
}

.cfg-header h1 {
	color: #FFF;
	margin: 7px;
}

.cfg-buttons {
	bottom: 0;

	-moz-box-shadow: 0px 0px 5px #454545;
	-webkit-box-shadow: 0px 0px 5px #454545;
	box-shadow: 0px 0px 5px #454545;
}

.cfg-buttons a {
	text-decoration: none;
	border: solid 1px silver;
	height: 30px;
	line-height: 2;
	display: inline-block;
	width: 30%;
	text-align: center;
	margin: 8px 10px;
	border-radius: 10px;
}

.cfg-buttons a.revert { 
	background-color: #E03939;
	border: 3px solid #FFF;
	color: #FFF;
}

.cfg-buttons a.revert:hover {
	border: 3px solid #E03939;
	color: #E03939;
	background-color: #FFF;
} 

.cfg-buttons a.save {
	border: 3px solid #FFF;
	background-color: #7CB467;
	color: #FFF;
	margin-left: 16%;
}

.cfg-buttons a.save:hover {
	border: 3px solid #7CB467;
	background-color: #FFF;
	color: #7CB467;
}

.cfg-field-row {
	display: block;
	margin: 5px 0;
}

.cfg-field-row label {
	display: inline-block;
	width: 60px;
	text-align: right;
	margin-right: 20px;
}

.cfg-field-row input {
	border: 1px solid silver;
	border-radius: 5px;
}

#color-picker {
	position: absolute;
	left: 0;
	top: auto;
	width: 200px;
	background-color: #555555;
	border-radius: 10px;
	z-index: 100;
}

.edit-color-picker {
	display: inline-block;
	position: relative;
	width: 29px;
	height: 29px;
}

.edit-color-picker div{
	position: absolute;
	top: 0;
	left: 0;
	width: 29px;
	height: 29px;
	background: url(images/select.png) center;
}

.alpha-field {
	width: 150px;
	display: inline-block;
}

.image-field {
	width: 50px;
	height: 50px;
	cursor: pointer;	
}

.cfg-field-row label.image-seamless-label {
	width: 60px;	
}

.cfg-field-row .ui-state-active {
	background: #9AEC9D url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x
}

.cfg-field-row .ui-button-text-only .ui-button-text{
	height: 10px;
	line-height: 0.5;
	font-size: 16px;
	font-family: 'Port Lligat Sans', 'sans';
}

.field-border-ctn {
	position: relative;
	width: 50px;
	height: 50px;
	border: solid 1px silver;
	margin: 30px 115px;
	display: inline-block;
}

.radius-field,
.size-field {
	position: absolute;
	width: 20px;
}

.radius-top-field {
	top: -30px;
	left: -30px;
}

.radius-right-field {
	top: -30px;
	right: -30px;
}

.radius-bottom-field {
	bottom: -30px;
	right: -30px;
}

.radius-left-field {
	bottom: -30px;
	left: -30px;
}

.size-top-field {
	top: -30px;
	left: 25%;
}

.size-right-field {
	top: 25%;
	right: -30px;
}

.size-bottom-field {
	bottom: -30px;
	left: 25%;
}

.size-left-field {
	top: 25%;
	left: -30px;
}


/*
 * Template Editor
 */

.chapter-field {
	position: absolute;
	top: -20px;
	left: 25px;
	font-size: 40px;
	color: gray;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	cursor: pointer;
}

.editorField,
.newListItemli {
	border: dashed 1px #999;
	position:relative;
}


.closePopup, .closePopup:visited,
.remove, .remove:visited,
.moveField, .moveField:visited {
	position: absolute;
	border-radius: 30px;
	padding: 5px;
	font-size: 18px;
	font-weight: bold;
	font-family: Arial;
	color: white;
	line-height: 0.5;
	text-decoration: none;
}

.moveField, .moveField:visited {
	background-color: #313131;
	left: 0;
	top: 0;
	border-radius: 0 0 10px 0;
	padding: 6px 3px 4px 3px;
	cursor: move;
	font-size: 18px;
	line-height: 0.5;
	color: #ECECEC;
	text-indent: -2px;
}

.closePopup, .closePopup:visited,
.remove, .remove:visited {
	right: -10px;
	top: -10px;	
	color: #FD3535;
	text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0	#FFF, 0 -1px	#FFF;
	font-size: 20px;
}

.remove:hover {
	font-size: 30px;
}

li.editorField, 
.newListItemli {
	width:90% !important;
}

textarea {
	overflow: hidden;
	outline: none;
	vertical-align: top;
	resize: none;
	width: 99%;
	color: inherit;
}

h1 textarea, 
h2 textarea, 
h3 textarea, 
ul.bulletList li textarea,
code textarea {
	border: none;
	text-align: center;
	background-color: transparent;
	color: inherit;
}

ul.bulletList li textarea {
	text-align: left;
}

.imageOptions {
	display: none;
	position: absolute;
	top:20px;
	left:0;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	 
}

.imageOptions ul {
	list-style: none;
	padding: 0;
	width: 400px;
	margin: auto;
}

.imageOptions ul li {
	float: left;
	width: 100px;
	height: 100px;
}

.imageOptions ul li a,
.imageOptions ul li a:visited {
	font-size: 80px;
	color: white;
	text-decoration: none;
}

.imageOptions ul li a:hover {
	color:#7CB467;
}

.imageOptions ul li a.edit-small {
	font-size: 40px;
	margin-top: 40px;
	margin-left: 10px;
}

.imageOptions ul li a.edit-normal {
	font-size: 60px;
	margin-top: 20px;
	margin-left: 40px;
}

.imageOptions ul li a.edit-big {
	font-size: 80px;
	margin-left: 50px;
}

.fTextAlign {
	display: none;
	position: absolute;
	top: 20px;
	right: -115px;
	width: 115px;
	height: 30px;
	
	background: white;
	border: solid 1px silver;
	box-shadow: 1px 1px 3px gray;
	z-index: 1000;
}

.fTextAlign:hover,
h1.editorField:hover .fTextAlign,
h2.editorField:hover .fTextAlign {
	display: block;
}

.fTextAlign a,
.fTextAlign a:visited {
	font-size: 30px;
	text-decoration: none;
	color: #444;
	float:left;
	text-shadow: 2px 2px silver;
}

.fTextAlign a.selected,
.fTextAlign a:hover {
	text-shadow: 0px 0px silver;
	color: #7C7C7C;
}

/*
 * Resource Manager
 */

#resourceManager {
	
}

#resourceManager input {
	color: #FFF;
}

#resources {
	list-style: none;
	float:left;
	padding: 0;
	margin: 0;
}

#resources li{
	float: left;
	width: 150px;
	border: 1px solid silver;
	border-radius: 10px;
	margin: 5px;
	cursor: pointer;
	position: relative;
}

#resources li:hover {
	border: 1px solid #496145;
}

#resources li.selected,
#resources li.selected:hover {
	border: 1px solid silver;
	background-color: #496145;
}

#resources li img{
	width: 100px;
	height: 100px;
	margin: 10px auto;
	display: block;
}

.resources-bg {
	background-color: rgba(255,255,255,0.6);
}

#save-msg {
	position: fixed;
	top: 0;
	left: 50px;
	width: 100px;
	height: 30px;
	z-index: 350;
	background-color: #E6E674;
	text-align: center;
	border-radius: 0 0 10px 10px;
	font-family: 'Port Lligat Sans', 'sans';
}

#save-msg.success {
	background-color: #B7EBA3;	
}

#save-msg.error {
	background-color: #E48282;
}

#save-msg span {
	display: block;
	margin: 4px 0;
}
	
	
