body {
	padding-top: 60px;	
}


.bg-popup-auth{
	background-color: black;
	opacity: 0.8;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 400;
}

.popup-auth {
	width: 200px;
	height: 60px;
	position: absolute;
	top: 50px;
	left: 50px;
	padding: 20px;
	border: solid 1px silver;
	z-index: 401;
	font-family: sans;
	background-color: #FFF;
	
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px; 
  border-radius: 10px; 
  
  -moz-box-shadow: 0px 0px 10px #000;
	-webkit-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
}

.popup-auth label {
	display: inline-block;
	width: 80px;
}

.popup-auth input[type=password]{
	display: inline-block;
	width: 100px;
	border: solid 1px silver;
}

.popup-auth input[type=button]{
	display: block;
	margin: 10px;
	float:right;
	width: 80px;
}
