
.sliderCtn {
	{{>background}}
	
	{{#fontFamily}}
		font-family: {{{fontFamily}}};
	{{/fontFamily}}
}
 
{{#slide}}
	{{#all}}

		#slider-list>li {
			{{>background}}							
		} 
	
	{{/all}}
	
	{{#title}}

		#slider-list>li.title {
			{{>background}}
		}
	
	{{/title}}
	
{{/slide}}


@media screen and (max-width: 680px) {
	.sliderCtn {
		{{#background}}
			
			{{#color}}
				background-color: {{color}};
			{{/color}}
			
			{{#image}}
				background-image: url('images/{{low}}');
				
				{{#seamless}}
					background-position: repeat;
				{{/seamless}}
				{{^seamless}}
					background-size: 100% 100%;
				{{/seamless}}
			{{/image}}
			 
		{{/background}}
	}
}




