
body {
	{{#background}}
		
		{{#color}}
			background-color: {{color}};
		{{/color}}
		
		{{#image}}
			background-image: url('images/{{high}}');
			
			{{#seamless}}
				background-position: repeat;
			{{/seamless}}
			{{^seamless}}
				background-size: 100% 100%;
			{{/seamless}}
		{{/image}}
		 
	{{/background}}

	{{#fontFamily}}
		font-family: {{{fontFamily}}};
	{{/fontFamily}}
}
 
{{#slide}}

	{{#all}}

		{{#background}}
			
			#slider-list>li {
			{{#color}}
				background: {{color}};
			{{/color}}
			 
			
			{{#image}}
				background-image: url('images/{{high}}');
				
				{{#seamless}}
					background-position: repeat;
				{{/seamless}}
				{{^seamless}}
					background-size: 100% 100%;
				{{/seamless}}
			{{/image}}
			
			} 
		{{/background}}
	
	{{/all}}
	
	{{#title}}

		{{#background}}
			
			#slider-list>li.title {
			{{#color}}
				background: {{color}};
			{{/color}}
			 
			
			{{#image}}
				background-image: url('images/{{high}}');
				
				{{#seamless}}
					background-position: repeat;
				{{/seamless}}
				{{^seamless}}
					background-size: 100% 100%;
				{{/seamless}}
			{{/image}}
			
			} 
		{{/background}}
	
	{{/title}}
	
{{/slide}}


@media screen and (max-width: 680px) {
	body {
		{{#background}}
			
			{{#color}}
				background-color: {{color}};
			{{/color}}
			
			{{#image}}
				background-image: url('images/{{low}}');
				
				{{#seamless}}
					background-position: repeat;
				{{/seamless}}
				{{^seamless}}
					background-size: 100% 100%;
				{{/seamless}}
			{{/image}}
			 
		{{/background}}
	}
}




